html {
    height: 100vh;
}
body {
    height: 100%;
    display: flex;
    justify-content: center
}
body {
    background: #110C22;
}

#grid {
    border: 3px solid;
    border-color: #C3DCE5;
}

#square {
    background: #110C22;
    border: rgba(20, 20, 20, 0%) 1.4px solid;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    transition: 0.11s;
}

#square:hover {
    background-color:  hsl(152, 54%, 54%);
    cursor: crosshair;
}

.row {
    display: flex;
    justify-content: center;
    width:100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

