html {
    height: 100vh;
}
body {
    height: 100%;
    display: flex;
    justify-content: center
}
body {
    background: #110C22;
}

#grid {
    border: 3px solid;
    border-color: #C3DCE5;
}


#square {
    border: none;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    transition: 0.11s;
}

#square:hover {
    background-color:  #af9deb !important;
    cursor: crosshair;
}

#starter-button {
    text-decoration: none;
    height: 300px;
    width: 300px;
    font-size: 100px;
    background: none;
    transition: .3s;
    border: none;
    color: #C3DCE5;
        
}


#starter-button:hover {
    background: #8674c2;
    color: black;
}

.row {
    display: flex;
    justify-content: center;
    width:100%;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

